.update-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2c2f33;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .password-form {
    display: flex;
    flex-direction: column;
    background: #23272a;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .password-form label {
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    color: #b9bbbe;
  }
  
  .password-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #7289da;
    background: #2c2f33;
    color: white;
    outline: none;
    font-size: 16px;
  }
  
  .password-form input:focus {
    border-color: #7289da;
    box-shadow: 0 0 8px rgba(114, 137, 218, 0.6);
  }
  
  .update-btn {
    background-color: #5865f2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .update-btn:hover {
    background-color: #4752c4;
  }


  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .input-container input {
    width: 100%;
    padding-right: 40px; /* Adjust padding to avoid text overlap */
    padding-left: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-container .icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: gray;
  }
  
  